name: Pytest Workflow

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install pytest
        run: |
          pip install pytest

      - name: Install pytest-cov
        run: |
          pip install pytest-cov

      - name: Run pytest with coverage
        run: |
          pytest test_script.py --cov=.

